In [3]:
#import needed libraries
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('Sales Data.xlsx')
df.tail(10)

,Row ID,Date,Country,Product ID,Shop,Gender,Size (US),Size (Europe),Size (UK),Unit Price,Discount,Year,Month,Sales Price
14967,?,?,?,?,?,?,?,?,?,?,?,?,?,?
14968,?,Jan,Germany,2156,GER1,Female,4.5,35,2.5,179,0,NaN,NaN,179
14969,?,Feb,Germany,2156,GER1,Female,4.5,35,2.5,139,0.1,NaN,NaN,125.1
14970,?,March,Germany,2156,GER1,Female,4.5,35,2.5,139,0.1,NaN,NaN,125.1
14971,?,August,Germany,2156,GER1,Female,4.5,35,2.5,139,0.1,NaN,NaN,125.1
14972,?,?,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,1900,1,125.1
14973,?,?,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,1900,1,125.1
14974,?,?,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,1900,1,125.1
14975,?,?,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,1900,1,125.1
14976,?,?,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,1900,1,125.1

In [33]:
# median

df['Sales Price'].describe()
df['Size (US)'].describe()


# merging, outlier, mainly data transformation--> removing duplicates, missing values treatment, replacing values, 
# numerical values to categorical
# plots
# random sampling to remove bias and to keep

count    14967.000000
mean         9.195630
std          1.511719
min          4.500000
25%          8.000000
50%          9.000000
75%         10.000000
max         15.000000
Name: Size (US), dtype: float64